<%layout("/layouts/boiler")%>

<div class="row"> 
    <div class="col-6 offset-3" >
<h1> SignUp on Wanderlust</h1>
        <form action="/signup" method="post" class="needs-validation"  novalidate>
            <div class="mb-3">
                <label for="username" class="form-label"> Username</label>
                <input  placeholder="enter name" 
                name="user[username]" type="text" id="username"
                 class="form-control" required> </input> 
                <div class="valid-feedback"> Looks good </div>
                
            </div> 

            <div class="mb-3">
                <label for="email" class="form-label"> Email</label>
                <input  placeholder="enter email" 
                name="user[email] " type="text"
                 class="form-control" required> </input> 
            
            </div> 

            <div class="mb-3">
                <label for="password" class="form-label"> Password</label>
                <input  placeholder="enter password" 
                name="user[password] " type="password"
                 class="form-control" required> </input> 
                 <div class="invalid-feedback">Enter password </div>
            </div> 
            <button class="btn btn-success"> signUp</button>
        </form>
        </div>
        </div>